* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(40, 42, 54, 0.8);
/*  background-color: #282a36;*/
}

button {
  font-family: "JetBrains Mono";
  border-radius: 0;
  border-color: #6272a4;
  color: #F8F8F2;
  background-color: #44475a;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:focus, button:active, button:hover {
  background-color: #6272a4;
  outline-style: none;
}

#lock {
  background-image: image(url("icons/lock2.png"));
}

#logout {
  background-image: image(url("icons/logout2.png"));
}

#suspend {
  background-image: image(url("icons/suspend2.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate2.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown2.png"));
}

#reboot {
  background-image: image(url("icons/reboot2.png"));
}
